{% extends 'base.html.twig' %}

{% block title %}New Type{% endblock %}

{% block body %}
    <h1>Create new Type</h1>

    {{ include('type/_form.html.twig') }}

    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm my-4" href="{{ path('type_index') }}">Volver atrás</a>
{% endblock %}
